alignment                 top_right
background                no
border_width              0
cpu_avg_samples           5
default_color             white
default_outline_color     white
draw_borders              no
draw_graph_borders        no
draw_outline              no
draw_shades               no
use_xft                   yes
xftfont                   Terminus:size=8
xftalpha                  1
gap_x                     0
gap_y                     0
minimum_size              150 1080
maximum_width             150
net_avg_samples           2
no_buffers                yes
out_to_console            no
own_window                yes
own_window_class          Conky
own_window_type           normal
own_window_transparent    no
own_window_hints          undecorated,below,sticky,skip_taskbar,skip_pager
own_window_argb_visual    yes
own_window_argb_value     128
update_interval           3
uppercase                 no
use_spacer                left
use_spacer                right
double_buffer             yes
short_units               yes
pad_percents              1
text_buffer_size          512

TEXT

${font Arial:size=26}${alignc}${time %H:%M}${alignc}${font}

${time %a, %e %B %G} 
${color slate grey}UpTime:${color } $uptime 
${color slate grey}Kern:${color } $kernel

${color slate grey}CPU:${color } $cpu% ${freq} MHz 

${color slate grey}MEM:  ${color } $memperc% $mem/$memmax
${membar 3,150}
${color slate grey}SWAP: ${color }$swapperc% $swap/$swapmax
${swapbar 3,150}

${color slate grey}/:    ${color }${fs_used /}/${fs_size /}
${fs_bar 3,150 /}
${color slate grey}/home:  ${color }${fs_used /home}/${fs_size /home}
${fs_bar 3,150 /home}

${color slate grey}Top CPU:${color }
${top name 1}$alignr${top cpu 1}%
${top name 2}$alignr${top cpu 2}%
${top name 3}$alignr${top cpu 3}%
${top name 3}$alignr${top cpu 4}%
${top name 3}$alignr${top cpu 5}%

${color slate grey}Top Memory:${color }
${top_mem name 1}$alignr${top_mem mem 1}%
${top_mem name 2}$alignr${top_mem mem 2}%
${top_mem name 3}$alignr${top_mem mem 3}%
${top_mem name 4}$alignr${top_mem mem 4}%
${top_mem name 5}$alignr${top_mem mem 5}%

${color slate grey}Disk IO:${color}
${diskiograph 20,150 000000 ffffff}
${color slate grey}Network: ${color}
${color slate grey}D:${color} ${downspeed eth0}/ s   ${color slate grey}U:${color} ${upspeed eth0}/ s
${downspeedgraph eth0 20,150 000000 ffffff}
${upspeedgraph eth0 20,150 000000 ffffff}

${color slate grey}Statuses:${color}
${execpi 60 ping miph.pro -qc5 > /dev/null && echo 'miph.pro is alive' || echo 'miph.pro is dead'} 
${execpi 60 ping ya.ru -qc5 > /dev/null && echo 'ya.ru is available' || echo 'ya.ru is unavailable'} 
${execpi 60 ping google.com -qc5 > /dev/null && echo 'google.com is available' || echo 'google.com is unavailable'} 