set -g -x fish_greeting '{{ fish_greeting }}'

{% for path in fish_path_list %}
set -g -x PATH {{ path }} $PATH
{% endfor %}

alias ..="cd .."
alias ...="cd ../.."
alias -="cd -"

alias la="ls -Gla"

# List only directories
alias lsd='ls -l | grep "^d"'

alias ll='ls -ahlF'
alias l='ls -CF'

################################
###  File ShortCut
################################
alias D="cd ~/Downloads"
alias d="cd ~/Dropbox"
alias p="cd /code"
alias g="git"
alias s="sublime"
alias e="emacsclient -t"
alias ec="emacsclient -c"

################################
###  Program ShortCut
################################

# git related shortcut
alias gitc="git-cola"
alias gd="git diff"
alias gdc="git diff --cached"
alias ga="git add"
alias gca="git commit -a -m"
alias gcm="git commit -m"
alias gbd="git branch -D"
alias gst="git status -sb --ignore-submodules"
alias gm="git merge --no-ff"
alias gpt="git push --tags"
alias gp="git push"
alias grs="git reset --soft"
alias grh="git reset --hard"
alias gb="git branch"
alias gcob="git checkout -b"
alias gco="git checkout"
alias gba="git branch -a"
alias gcp="git cherry-pick"
alias gl="git lg"
alias gpom="git pull origin master"
alias gpod="git pull origin dev"

# turn on coloring on grep
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'

# Quick check running state of a process
alias psg="ps aux | grep "
alias top="top -o cpu"

# Google Closure compiler shortcuts
alias jcc='java -jar ~/tools/closure_compiler/compiler.jar'

# from http://news.ycombinator.com/item?id=4492682
function tree1; tree --dirsfirst -ChFLQ 1 $argv; end
function tree2; tree --dirsfirst -ChFLQ 2 $argv; end
function tree3; tree --dirsfirst -ChFLQ 3 $argv; end
function tree4; tree --dirsfirst -ChFLQ 4 $argv; end
function tree5; tree --dirsfirst -ChFLQ 5 $argv; end
function tree6; tree --dirsfirst -ChFLQ 6 $argv; end


{% if fish_powerline %}
set fish_function_path $fish_function_path "/home/{{ username }}/.local/lib/python2.7/site-packages/powerline/bindings/fish"
powerline-setup
{% endif %}

{% if fish_pyenv %}
status --is-interactive; and . (pyenv init -|psub)
{% endif %}
